/*  GRID OF THREE   ============================================================================= */
	
.span_3_of_31 {
	width: 100%;
}

.span_2_of_31 {
	width: 66.13%; 
}

.span_1_of_31 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_31 {
		width: 100%; 
	}
	.span_2_of_31 {
		width: 100%; 
	}
	.span_1_of_31 {
		width: 100%;
	}
}

/*  GRID OF THREE   ============================================================================= */

	
.span_3_of_32 {
	width: 100%; 
}

.span_2_of_32 {
	width: 66.13%; 
}

.span_1_of_32 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_32 {
		width: 100%; 
	}
	.span_2_of_32 {
		width: 100%; 
	}
	.span_1_of_32 {
		width: 100%;
	}
}

/*  GRID OF THREE   ============================================================================= */

	
.span_3_of_33 {
	width: 100%; 
}

.span_2_of_33 {
	width: 66.13%; 
}

.span_1_of_33 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_33 {
		width: 100%; 
	}
	.span_2_of_33 {
		width: 100%; 
	}
	.span_1_of_33 {
		width: 100%;
	}
}

/*  background */

div.col.span_1_of_31 {
	background: #005566;
}

div.col.span_2_of_31 {
	background: #0077AA;
}

div.col.span_3_of_31 {
	background: #33AADD;
}
